{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>Formulário de Venda</title>

</head>

<body>
    <div class="container">
        <div class="form-image">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/undraw_receipt_re_fre3.svg' %}" alt="">
            </a>
        </div>

        <div class="form">
            <form action="{% url 'formulariodevenda' %}" method="POST" class="form-horizontal" autocomplete="off"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastrar Vendas</h1>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}<br>
                            {% endfor %}
                        {% endfor %}
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <div class="input-box">
                            <div class="select">

                                <div id="camposAdicionais">
                                        <div class="form-contratos" id="produto1">
                                            <div class="comp-nota-1">Produto 1:</div>
                                            <div class="comp-nota-1">{{form.produto}}</div>
                                        </div>
                                        <div class="tipo-de-faturamento" id="quantidade_vendida1">
                                            <div class="tipo-de-faturamento-1">Quantidade Vendida 1:</div>
                                            <div class="tipo-de-faturamento-1">{{form.quantidade_vendida}}</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="login-button">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>